//
// Override global variables
//

// Theme colors
$primary: #131313;
$primary-hover: #F39200;
$primary-light: #ebc389;
$primary-inverse: #ffffff;

$info: #3699ff;
$info-light: #e1e9ff;
$info-hover: #318de9;
$info-inverse: #ffffff;

// colors
$myColor: #cc0909;

// Select Picker colors
$select-selected: #deebff;
$select-hover: #f3f6f9;
